extends ./layouts/master

block content
    .container.mt-5
      .row.justify-content-center  
        .col-md-6  
          h2 Login  
          form(action="/login", method="POST")  
            .form-group  
              label(for="email") Username 
              input#email.form-control(placeholder="Enter username", name="username" required)  
            .form-group  
              button.btn.btn-primary(type="submit") Submit   